#inquire-btn {
    /* color: */
    float: right;
}

#view-btn {
    /* color: */
    /* float: right; */
    /* display:flex; */
}

#confirm-btn { 
    /* color: */
    float: left;
}

#interact-box{
    border: 2px green solid;
    /* float: */
}

.checked {
    color: orange;
}

#bonfireIcon {
    font-size: 18px;

}

/* ion-icon {
    unicode-bidi: bidi-override;
        direction: rtl;

} */

.col-6 {
    unicode-bidi: bidi-override;
    direction: rtl;
}

ion-icon:hover {
        color:red;
        background-color: orange;
    }
