#inquire-btn {
    /* color: */
    float: right;
}

#view-btn {
    /* color: */
    /* float: left; */
}

#confirm-btn { 
    /* color: */
    float: left;
}

#interact-box{
    border: 2px green solid;
    /* float: */
}

